
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xxs);

    font-family: inherit;
    padding: var(--spacing-xs) var(--spacing-md);

    text-decoration: none;
    cursor: pointer;

    border: 0;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;    
}

.btn:hover {
    outline: none; /* Remove default focus outline */
}


/* TODO: Remove comment before deploying   
To prevent default browser outline for mouse clicks if :focus-visible is not widely supported or for specific interactions. Always pair with a :focus-visible rule for accessibility. */

.btn:focus {
  outline: none; /* Remove default focus outline */
}

.btn:focus-visible {
    outline: 0.125rem solid var(--color-text-link);  /*  2px equivalent - Custom focus outline for accessibility */
    outline-offset: 0.125rem; /* 2px equivalent */
    border-radius: var(--border-radius-sm); 
}

.btn-dark {
    background-color: var(--color-bg-button-primary);
    color: var(--color-text-button-on-dark);
}

.btn-dark:hover {
  background-color: var(--color-bg-button-primary-hover);
}

.btn-pill {
  border-radius: 999px; /* "infinite" radius */
}